<a href="https://colab.research.google.com/github/anandramm/Machine_learning-/blob/master/Analytics_Vidhya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
train_df=pd.read_csv('/content/train_ctrUa4K.csv')

In [ ]:
train_df.head()

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [ ]:
train_df['Gender'].isnull().sum()

13

In [ ]:
train_df['Married'].isnull().sum()

3

In [ ]:
train_df['Dependents'].isnull().sum()

15

In [ ]:
train_df['Education'].isnull().sum()

0

In [ ]:
train_df['Self_Employed'].isnull().sum()

32

In [ ]:
train_df['ApplicantIncome'].isnull().sum()

0

In [ ]:
train_df['CoapplicantIncome'].isnull().sum()

0

In [ ]:
train_df['LoanAmount'].isnull().sum()

22

In [ ]:
 train_df['Loan_Amount_Term'].isnull().sum()

14

In [ ]:
 train_df['Credit_History'].isnull().sum()

50

In [ ]:
 train_df['Property_Area'].isnull().sum()

0

In [ ]:
 train_df['Loan_Status'].isnull().sum()

0

In [ ]:
train_df.count()

Loan_ID              614
Gender               601
Married              611
Dependents           599
Education            614
Self_Employed        582
ApplicantIncome      614
CoapplicantIncome    614
LoanAmount           592
Loan_Amount_Term     600
Credit_History       564
Property_Area        614
Loan_Status          614
dtype: int64

In [ ]:
train_df['Gender'].replace(['Male','Female'],[1,0],inplace=True)

In [ ]:
train_df['Gender']

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
609    0.0
610    1.0
611    1.0
612    1.0
613    0.0
Name: Gender, Length: 614, dtype: float64

In [ ]:
train_df['Married'].replace(['Yes','No'],[1,0],inplace=True)

In [ ]:
train_df.head()

    Loan_ID  Gender  Married  ... Credit_History Property_Area Loan_Status
0  LP001002     1.0      0.0  ...            1.0         Urban           Y
1  LP001003     1.0      1.0  ...            1.0         Rural           N
2  LP001005     1.0      1.0  ...            1.0         Urban           Y
3  LP001006     1.0      1.0  ...            1.0         Urban           Y
4  LP001008     1.0      0.0  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [ ]:
train_df['Education'].replace(['Graduate', 'Not Graduate'],[1,0],inplace=True)

In [ ]:
train_df.corr()

                     Gender   Married  ...  Loan_Amount_Term  Credit_History
Gender             1.000000  0.369612  ...         -0.075117        0.016337
Married            0.369612  1.000000  ...         -0.103810        0.004381
Education         -0.049258 -0.014223  ...          0.078784        0.081822
ApplicantIncome    0.053989  0.051332  ...         -0.045306       -0.014715
CoapplicantIncome  0.083946  0.077770  ...         -0.059878       -0.002056
LoanAmount         0.106947  0.149519  ...          0.039447       -0.008433
Loan_Amount_Term  -0.075117 -0.103810  ...          1.000000        0.001470
Credit_History     0.016337  0.004381  ...          0.001470        1.000000

[8 rows x 8 columns]

In [ ]:
train_df['Self_Employed'].replace(['Yes', 'No'],[1,0],inplace=True)

In [ ]:
train_df['Credit_History'].unique()

array([ 1.,  0., nan])

In [ ]:
train_df['Property_Area'].replace(['Urban', 'Rural', 'Semiurban'],[0,1,2],inplace=True)

In [ ]:
train_df['Loan_Status'].replace(['Y','N'],[1,0],inplace=True)

In [ ]:
train_df.dropna(subset=['Credit_History','Married',],inplace=True)

In [ ]:
#train_df.drop(['Loan_Amount_Term','Self_Employed','LoanAmount','Dependents','Gender'],axis=1,inplace=True)
train_df.drop('Gender',axis=1,inplace=True)

In [ ]:
train_df.fillna(method='ffill')
train_df.head()

    Loan_ID  Married  Education  ...  Credit_History  Property_Area  Loan_Status
0  LP001002      0.0          1  ...             1.0              0            1
1  LP001003      1.0          1  ...             1.0              1            0
2  LP001005      1.0          1  ...             1.0              0            1
3  LP001006      1.0          0  ...             1.0              0            1
4  LP001008      0.0          1  ...             1.0              0            1

[5 rows x 8 columns]

In [ ]:
#sns.heatmap(train_df.drop('Loan_ID',axis=1),cmap='viridis')

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
#from sklearn.preprocessing import MinMaxScaler

In [ ]:
from sklearn.model_selection import train_test_split

In [194]:
X=train_df.drop(['Loan_Status','Loan_ID'],axis=1)
y=train_df.Loan_Status

In [195]:
X['Credit_History'].isna().sum()

0

In [196]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=101)

In [209]:
clf=AdaBoostClassifier(n_estimators=150,learning_rate=2)
clf.fit(X_train,y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=2,
                   n_estimators=150, random_state=None)

In [210]:
predictions=clf.predict(X_test)

In [211]:
from sklearn.metrics import classification_report

In [212]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.95      0.54      0.69        39
           1       0.85      0.99      0.91       102

    accuracy                           0.87       141
   macro avg       0.90      0.76      0.80       141
weighted avg       0.88      0.87      0.85       141

In [213]:
test_df=pd.read_csv('/content/test_lAUu6dG.csv')

In [221]:
test_df.head()

    Loan_ID  Married  ...  Credit_History  Property_Area
0  LP001015        1  ...             1.0          Urban
1  LP001022        1  ...             1.0          Urban
2  LP001031        1  ...             1.0          Urban
3  LP001035        1  ...             NaN          Urban
4  LP001051        0  ...             1.0          Urban

[5 rows x 7 columns]

In [215]:
test_df.drop(['Loan_Amount_Term','Self_Employed','LoanAmount','Dependents','Gender'],axis=1,inplace=True)

In [217]:
test_df['Education'].replace(['Graduate', 'Not Graduate'],[1,0],inplace=True)

In [220]:
test_df['Married'].replace(['Yes', 'No'],[1,0],inplace=True)

In [222]:
test_df['Property_Area'].replace(['Urban', 'Rural', 'Semiurban'],[0,1,2],inplace=True)

In [237]:
A=test_df.drop('Loan_ID',axis=1)
A['Credit_History'].fillna(method='bfill',inplace=True)

In [228]:
Label=test_df.Loan_ID

In [252]:
Status=clf.predict(A)

In [253]:
Status

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [254]:
Loan_Status=pd.Series(Status)
Loan_ID=pd.Series(Label)

In [259]:
Loan_Status.replace([1,0],['Y','N'],inplace=True)

In [260]:
Sub=pd.concat([Label,Loan_Status],axis=1)

In [261]:
Sub.tail()

      Loan_ID  0
362  LP002971  Y
363  LP002975  Y
364  LP002980  Y
365  LP002986  Y
366  LP002989  Y

In [263]:
Sub.to_csv('Submission_AV.csv',index=False)